html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 35, 113);
}

div#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div#page > h1 {
  text-align: center;
  color: aliceblue;
}

#content {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  border-color: azure;
  border-width: 1em;
  align-items: flex-start;
  justify-content: flex-start;
  height: 90%;
  padding: 20px 10vw 0px;
  overflow: scroll;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  margin-bottom: 20px;
  padding: 20px 5vw;
  border-radius: 12px;
  width: 100px;
  height: 50px;
}

.post > h4{
  color: black;
  font-size: x-large;
}

.post > p {
  color: black;
  font-size: 20px;
}