html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

div#wrap {
  height: 90%;
  display: flex;
  align-items: center;
}

.wrap {
  background-color: brown;
}

div#wrap,
div#content {
  width: 90%;
  padding: 5%;
}

#content {
  display: flex;
  flex-direction: column;
  border-color: azure;
  border-width: 1em;
  align-items: center;
  justify-content: center;
   background-color: blue;
}

#content h1 {
  color: #D1D5DC;
  text-align: center;
}

#content > p {
  color: #D1D5DC;
  text-align: center;
  width: 50%;
}

#texto__carga {
  display: none;
}

#content > div {
  background-color: #2fc296;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.wrapButtons {
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  background-color: #c22fbb !important;
  margin-top: 1.5%;
}

.wrapButtons > button {
  margin: 1em;
  background-color: transparent;
  border-width: 0.2em;
  border-color: white;
  color: white;
  padding: 1em;
  border-radius: 0.3em;
  cursor: grab;
}
